@media screen and (min-width: 993px) and (max-width: 1280px) {
  .tr-box {
    width: 183px;
    height: 88px;
  }
  .box-1 {
    top: 260px;
    right: 0px;
  }

  .box-2 {
    right: 280px;
    top: 550px;
    padding-left: 30px;
  }

  /* start mile-easily-section */

  .mile-text-conten {
    width: 100%;
  }
  .mile-text-conten h1 {
    font-size: 48px;
  }

  .mile-text-conten p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
  }
  .mile-image-conten {
    width: 50%;
    margin-left: 200px;
  }

  /* start BMI Calculator */

  .bmi-table-section {
    margin-left: 30px;
  }
  .bmi-table-section table,
  th,
  td {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-collapse: collapse;
    padding: 15px 30px;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    margin-top: 50px;
  }

  .bmi-form-section {
    width: 50%;
    height: 100%;
  }

  .full-content {
    background-color: rgb(34, 34, 34);
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
    max-width: 100%;
  }

  .input-form,
  .select-form {
    width: 100%;
    margin-bottom: 20px;
  }
  /* end BMI Calculator */
}
