@media screen and (max-width: 576px) {
  .hero-section {
    flex-direction: column;
  }
  .nav-links {
    display: none;
  }
  .ham-bars {
    display: block;
  }
  .header-text-section {
    width: 100%;
  }
  .head-title {
    font-size: 36px;
    width: 100%;
    line-height: 120%;
  }
  .shape-text {
    font-family: Miama;
    font-size: 100px;
    font-weight: 400;
  }

  .header-text-section p {
    font-size: 18px;
    width: 100%;
    margin-top: 20px;
  }

  .header-img-section img {
    width: 353px;
  }
  .btn-section {
    margin-top: 40px;
  }
  .btn-primary {
    padding: 15px 30px 15px 30px;
  }
}
