@media screen and (max-width: 576px) {
  .hero-section {
    flex-direction: column;
  }
  .nav-links {
    display: none;
  }
  .ham-bars {
    display: block;
  }
  .header-text-section {
    width: 100%;
  }
  .head-title {
    font-size: 36px;
    width: 100%;
    line-height: 120%;
  }
  .shape-text {
    font-family: Miama;
    font-size: 100px;
    font-weight: 400;
  }

  .header-text-section p {
    font-size: 18px;
    width: 100%;
    margin-top: 20px;
  }

  .header-img-section img {
    width: 353px;
  }
  .btn-section {
    margin-top: 40px;
  }
  .btn-primary {
    padding: 15px 30px 15px 30px;
  }

  .tr-box {
    width: 145.91px;
    height: 74.09px;
    padding-left: 30px;
    position: absolute;
  }
  .tr-box h1 {
    font-size: 30px;
  }
  .tr-box p {
    font-size: 9px;
  }
  .box-1 {
    top: 620px;
    right: 50px;
  }
  .box-2 {
    top: 850px;
    right: 220px;
  }

  .box-2 {
    padding-left: 50px;
  }
  .round-box {
    width: 30px;
    height: 30px;
    position: relative;
    top: -39px;
    left: -125px;
  }
}
