@media screen and (min-width: 320px) and (max-width: 390px) {
  header,
  main,
  footer {
    /* max-width: 1440px; */
    padding-top: 3.125rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin: 0 auto;
  }
  .btn-section {
    margin-top: 1.875rem;
  }
  .btn-section button {
    font-size: 0.875rem;
  }
  .btn-primary {
    padding: 0.75rem 1.25rem 0.75rem 1.25rem;
  }
  .btn-outline {
    padding: 0.75rem 1.25rem 0.75rem 1.25rem;
  }
  .trainer {
    top: 14.375rem;
    left: 1.5625rem;
  }
  .box-1 {
    margin-top: 380px;
    margin-right: -170px;
    /* right: 1.25rem; */
  }
  .box-2 {
    margin-top: 320px;
    margin-right: -300px;
  }

  .trainer-para {
    top: 15.625rem;
    left: 1.5625rem;
  }

  .input-form-1,
  .input-form-2,
  .input-form-3,
  .input-form-4 {
    margin-right: 0.625rem;
    width: 44%;
    font-size: 0.875rem;
  }
  .input-form-5 {
    width: 95%;
    margin-right: 0.625rem;
    font-size: 0.75rem;
  }

  .training-section {
    max-width: 100%;
  }

  .training-img-section {
    grid-template-columns: 1;
  }
  .training-text-content {
    width: 100%;
    text-align: center;
  }

  .training-img-section {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .training-text-content h1 {
    font-size: 2.25rem;
  }
  .training-text-content p {
    font-size: 1rem;
    width: 100%;
  }
  .training-image-card-1,
  .training-image-card-2,
  .training-image-card-3,
  .training-image-card-4,
  .training-image-card-5,
  .training-image-card-6 {
    height: 13.375rem;
  }
  .training-image-card-3 {
    height: 13.375rem;
  }
}
