@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* Custom font*/
@font-face {
  font-family: "Miama";
  src: url("../font/Miama.otf");
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.shape-text {
  font-family: Miama;
  font-size: 200px;
  font-weight: 400;
}

/* global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #ffffff;
  background-color: rgb(0, 0, 0);
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
.btn-primary {
  border-radius: 42px;
  background: rgb(230, 83, 60);
  border: none;
  padding: 16px 40px 16px 40px;
  font-weight: 600;
  font-size: 1.05rem;
  color: rgb(255, 255, 255);
}
.btn-outline {
  border-radius: 42px;
  background: transparent;
  border: 2px solid #ffffff;
  padding: 16px 40px 16px 40px;
  font-weight: 600;
  font-size: 1.05rem;
  color: rgb(255, 255, 255);
}

header,
main,
footer {
  max-width: 1440px;
  /* padding: 3.125rem 1.875rem; */
  padding-top: 3.125rem;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

header {
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  );
  max-width: 100%;
}

.hide {
  display: none;
}
/* global styles */

/* shared styles */

/* start header section */

.navbar {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.navbar h1 {
  font-size: 36px;
  font-weight: 900;
  font-style: italic;
}
.ham-bars {
  display: none;
}

.nav-links {
  display: flex;
  gap: 40px;
  width: 410px;
  height: 46px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 39px;
  padding: 0px 50px;
}
.nav-links li a {
  color: #ffffff;
  font-size: 18px;
}
.bold-link {
  color: #ffffff;
  font-weight: 700;
  border-radius: 46px;
  padding: 8px 20px 8px 20px;
  background: rgb(230, 83, 60);
}

/* hero-section */

.hero-section {
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin: 0 auto;
  margin-top: 50px;
}

.header-text-section {
  width: 100%;
}
.header-img-section img {
  width: 349px;
  height: 588px;
}
.head-title {
  font-size: 78px;
  width: 520px;
  line-height: 120%;
}

.header-text-section p {
  font-size: 18px;
  width: 520px;
  margin-top: 20px;
}

.btn-section {
  margin-top: 20px;
}

.tr-box {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  width: 193px;
  height: 98px;
  text-align: left;
  align-content: center;
  padding-left: 30px;
  position: absolute;
}
.tr-box h1 {
  font-size: 40px;
  font-weight: 900;
}
.tr-box p {
  font-size: 13px;
}

.box-1 {
  top: 260px;
  right: 200px;
}
.box-2 {
  right: 500px;
  top: 550px;
}

.box-2 {
  padding-left: 40px;
}
.box-2 h1 {
  font-size: 40px;
}
.box-2 p {
  font-size: 13px;
}

/* hero-section */
/* end header section */

/* start change your habits  */
.habits-section {
  margin-top: 50px;
  width: 100%;
}

.habits-text-content {
  text-align: center;
}

.habits-text-content h1 {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 20px;
}
.habits-text-content p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
  width: 671px;
  margin: 0 auto;
}

.habits-img-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}
.habits-img-card {
  text-align: center;
}
.habits-img-card img {
  border-radius: 50%;
  margin-bottom: 20px;
  border: 5px solid rgba(255, 255, 255, 0.2);
  width: 90%;
}
.habits-img-card p {
  width: 231px;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.05rem;
}
.habits-img-card h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
/* end change your habits  */

/* start mile-easily-section */

.mile-easily-section {
  margin-top: 100px;
  display: flex;
  width: 100%;
  background-color: rgb(34, 34, 34);
  border-radius: 18px;
  padding: 50px 50px;
  gap: 5%;
}

.mile-text-conten {
  width: 50%;
}
.mile-text-conten h1 {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 30px;
}
.mile-text-conten p {
  width: 443px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  line-height: 24px;
  margin-bottom: 35px;
}
.mile-image-conten {
  width: 50%;
  margin-left: 400px;
}

.mile-image-card {
  width: 366px;
  height: 312px;
  background-image: url("../images/run.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 18px;
}

/* end mile-easily-section */
