@media screen and (min-width: 576px) and (max-width: 992px) {
  .hero-section {
    flex-direction: column;
    gap: 10px;
  }
  .header-img-section img {
    margin-top: 40px;
  }
  .box-1 {
    top: 720px;
    right: 160px;
  }
  .box-2 {
    top: 1000px;
    right: 420px;
  }
  .round-box {
    top: -210px;
    left: -195px;
  }

  /* start change your habits  */
  .habits-section {
    margin-top: -50px;
    width: 100%;
  }
  .habits-img-content {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-top: 20px;
  }

  /* end change your habits  */
}
