@media screen and (min-width: 576px) and (max-width: 992px) {
  .hero-section {
    flex-direction: column;
    gap: 10px;
  }
  .header-img-section img {
    margin-top: 40px;
  }

  .box-1 {
    top: 720px;
    right: 160px;
  }
  .box-2 {
    top: 1000px;
    right: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* start change your habits  */
  .habits-section {
    margin-top: -50px;
    width: 100%;
  }
  .habits-img-content {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-top: 20px;
  }
  /* end change your habits  */

  /* start mile-easily-section */

  .mile-text-conten {
    width: 40%;
  }
  .mile-text-conten h1 {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 30px;
  }

  .mile-text-conten p {
    width: 300px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    line-height: 24px;
    margin-bottom: 35px;
  }
  .mile-image-conten {
    width: 50%;
    margin-left: 50px;
  }

  .mile-image-card {
    width: 300px;
    height: 312px;
    border-radius: 18px;
  }
  /* end mile-easily-section */

  /* start BMI Calculator */

  .bmi-text-content p {
    width: 80%;
  }

  .full-content {
    flex-direction: column;
    gap: 40px;
  }

  .bmi-form-section {
    width: 100%;
    height: 100%;
  }

  .bmi-form-section p {
    margin-bottom: 30px;
    width: 100%;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
  }
  .input-form,
  .select-form {
    width: 100%;
    font-size: 20px;
  }
  /* end BMI Calculator */

  /* <!-- start Meet Our Team --> */
  .trainer {
    top: 160px;
    left: 30px;
    font-size: 14px;
  }

  .trainer-para {
    top: 180px;
    left: 30px;
  }

  /* <!-- end Meet Our Team --> */
}
